node_modules/
www/dist/
www/build/
.DS_Store
*.log
android/.gradle/
android/app/build/
android/build/
ios/App/Pods/
ios/App/build/
*.xcworkspace
*.pbxuser
*.mode1v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.idea/
.vscode/
*.swp
*.swo
.capacitor/
